a{
    text-decoration: none;
    
}
button{
    cursor: pointer;
}
.top-nav{
    top: 0;
    position: fixed;
    z-index: 1001;
    width: 100%;
    color: white;
    background: #7c51bd;
    padding-left: 15rem;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown span{
    font-size: 13px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    cursor: pointer;
    min-width: 230px;
    font-size: 13px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    cursor: pointer;
    min-width: 230px;
    font-size: 13px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
   .dropdown-content p{
   border-bottom: 1px solid rgb(144, 144, 144);
   }
   .dropdown-content p:hover{
    border-bottom: 1px solid #ce5939;
    }
   .dropdown-content p span{
    color:rgb(20, 161, 255)
    }
    .dropdown-content p span:hover{
        color:#ce5939
        }
  .dropdown:hover .dropdown-content {
    display: block;
  }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    width: 100%;
}
.btttn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #ce5939;
    color: #ffffff;
}


nav .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.links ul li {
    padding-right: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
}




/* footer start */



footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #31383c;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    
    background-color: #31383c;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom p a {
    color: #ccc;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width: 500px) {
    .footer-bottom p {
        float: none;
    }

    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
}

a:active{
    text-decoration: none;
    
}
a:hover{
    text-decoration: none;
}


i.fa.fa-cart-plus {
    display: none;
}

/* footer end */